* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #c7ecda; */
  background-color: transparent;
}

.navbar .logo {
  margin-left: 30px;
}

.navbar .logo a {
  text-decoration: none;
  /* color: black; */
  color: #1c9657;
  font-weight: bold;
  font-size: 25px;
}

.navbar .links {
  display: flex;
}

.navbar .links .link {
  list-style: none;
  padding: 0 15px;
  cursor: pointer;
}

.navbar .links .link.active {
  background-color: #1c9657;
  color: #fff;
  border-radius: 25px;
}

.navbar .links .link a {
  text-decoration: none;
  color: black;
}

.navbar .links .link.link.active a {
  color: #fff;
}

.arrow {
  margin: 0 5px;
}
.hero {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero .img {
  width: 50%;
}
.hero .text {
  width: 50%;
  padding: 30px;
  /* text-align: center; */
}

.hero .text .heading {
  font-size: 25px;
  margin-bottom: 20px;
}
.menu {
  display: none;
}

.hide {
  display: none !important;
}

.btn {
  padding: 0.7rem 1.2rem;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 35px;
  border: none;
  background-color: #1c9657;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  text-transform: capitalize;
  /* font-weight: bold; */
}

.btn:hover {
  transform: scale(1.05);
}

@media (min-width: 600px) {
  .hide {
    display: flex !important;
  }
}

@media (max-width: 600px) {
  .hero {
    justify-content: center;
    overflow: hidden;
  }
  .navbar .links {
    display: block;
    position: absolute;
    top: 56px;
    width: 100%;
    text-align: center;
    background-color: #c7ecda;
  }
  .navbar .links .link {
    padding: 15px 0;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
  }
  .menu {
    display: block;
    font-size: 35px;
  }

  .hero {
    justify-content: center;
    width: 100%;
  }

  .hero .text {
    width: 100%;
  }

  .hero .img {
    display: none;
  }
  .navbar .links .link.active {
    border-radius: 0;
  }
}
